body{ 
    margin: 0;
    padding: 0;

}

.wrapper{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh min-content 5vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}

header{
    grid-area: header;
    padding: 0;
    margin: 0;   
    text-align: center;
    background-color: skyblue;
    padding: 1vh;
    border-bottom: solid black;
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-areas:
        "title"
        "navigation"
    
}

h1{
    grid-area: title;
    font-size: 4vh;
    margin: auto;
    font-family: Arial,'Times New Roman';
}



nav > ul{
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li{
    border: solid black;
    font-size: 2vh;
    width: 95%;
    margin: auto;
}

nav > ul > li > a{
    display: block;
    padding: 1vh;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-weight: bold;
    font-family: Arial,'Times New Roman';
}

a:visited{
    color: black;
}

a:hover{
    background-color: lightgrey;
}

main{
    grid-area: main;
    min-height: 80vh;
    
}

footer{
    grid-area: footer;
    background-color: skyblue;
    text-align: center;
    border-top: solid black;
}

#index > .wrapper > main{
    background-image: url("/IMG/worldMap.jpg");
    background-size: cover;
    background-position: center;
    display:grid;
}

#index > .wrapper > main > section{
    border: solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 85vw;
    text-align: center;
    margin: auto;
}

.headline{
    font-weight:bold;
    font-size: 125%;
    font-family: Arial,'Times New Roman';
}

#music > .wrapper > main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "topleft" "topright"
        "cenleft" "cenright"
        "botleft" "botright";
}

#music > .wrapper > main > a{
    border: solid black;
    border-radius: 7px;
    width: 85%;
    height: 85%;
    margin: auto;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.9);
    font-size: 2vh;
}

#music > .wrapper > main{
    background-image: url("/IMG/worldMap.jpg");
    background-size: cover;
    background-position: center;

}

#music > .wrapper > main > a:hover{
    background-color:lightgray
}

@media (max-width: 500px){
    #music > .wrapper > main > a{
        font-size: 1.3vh;
        max-width: 100%;
    }

}
















