body{ 
    margin: 0;
    padding: 0;
    font-size: 1em;
}

p{
    color: black;
}

.wrapper{
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}

main{
    grid-area: main;
    min-height: 600px;
    
}

header{
    grid-area: header;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: skyblue;
    border-bottom: solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title"
        "navigation"
    
}

nav{
    margin: auto;
    width: 100%;
}

h1{
    grid-area: title;
    font-size: 50px;
    margin: auto;
    font-family: Arial,'Times New Roman';
}



nav > ul{
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li{
    border: solid black;
    font-size: 18px;
    width: 92%;
    margin: auto;
}

nav > ul > li > a{
    display: block;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-weight: bold;
    font-family: Arial,'Times New Roman';
}

a:visited{
    color: black;
}

a:hover{
    background-color: lightgrey;
}

footer{
    grid-area: footer;
    background-color: skyblue;
    text-align: center;
    border-top: solid black;
}

#index > .wrapper > main{
    background-image: url("../IMG/worldMap.jpg");
    background-size: cover;
    background-position: center;
    display:grid;
}

#index > .wrapper > main > section{
    border: solid black;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 85vw;
    min-height: min-content;
    padding: 7px;
    text-align: center;
    margin: auto;
    margin-bottom: 6px;
    margin-top: 6px;
    
}

.wrapper > main > section > p:nth-child(1), .wrapper > main > a > section >p:nth-child(1) {
    font-weight:bold;
    font-size: 125%;
    font-family: Arial,'Times New Roman';
}

#music > .wrapper > main{
    display: grid;
    grid-template-columns: none;

    background-image: url("../IMG/worldMap.jpg");
    background-size: cover;
    background-position: center;

}

#music > .wrapper > main > a{
    border: solid black;
    border-radius: 7px;
    width: 90%;
    height: min-content;
    min-height: 70%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.9);
}

#music > .wrapper > main > a:hover{
    background-color:lightgray
}

#africa > .wrapper > main,
#asia > .wrapper > main,
#europe > .wrapper > main,
#northAmerica > .wrapper > main,
#oceania > .wrapper > main,
#southAmerica > .wrapper > main{
    background-size: cover;
    background-position: center;
    background-color: white;
}
/*----------*/

#africa > .wrapper > main{
    background-image: url("../IMG/africaCulture2.jpg");

}

#asia > .wrapper > main{
    background-image: url("../IMG/asiaCulture.jpg");

}

#europe > .wrapper > main{
    background-image: url("../IMG/europeanCulture3.jpg");
}

#northAmerica > .wrapper > main{
    background-image: url("../IMG/northAmericanCulture.png");
}

#oceania > .wrapper > main{
    background-image: url("../IMG/oceanianCulture2.jpg");
}

#southAmerica > .wrapper > main{
    background-image: url("../IMG/southAmericaCulture.png");
}

.musicContent{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

}

.musicContent > section{
    border: solid black;
    border-radius: 7px;
    width: 90%;
    min-height: 60%;
    height: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);

}

.musicContent > section:nth-child(1n+2){
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 7fr;
    grid-template-areas: 
        "sideContent mainContent";
}

.musicContent > section > article{
    grid-area: mainContent;
    margin: 0;
}

p{
    margin: 9px;
}

.musicContent > section > article > p:nth-child(1){
    font-size: 125%;
    font-weight: bold;
    font-family: Arial,'Times New Roman';
}

@media all and (min-width: 650px){

    #index > .wrapper > main > section{
        min-height: 50%;
        margin: auto;
    }

    #music > .wrapper > main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

    .musicContent{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "top top"

    }

    .musicContent > section:nth-child(1){
        grid-area: top;
    }

    .musicContent > section{
        margin: auto;
        max-height: 85%;
    }

    #music > .wrapper > main > a{
        margin: auto;
    }
}
















